
*{
  margin: 0; 
}

h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 48px;
}
 main{
    outline: 2px solid black;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    text-align: center; 
    
    background-color: white;
    border-radius: 10px;

    
   
}
body
{
    background-color: rgb(139, 220, 247);
}
