/* *
{
    outline: 1px solid;
    
} */

/* div{
    margin: 10px;
} */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@800&display=swap');

*
{
    box-sizing: border-box;
}